user www-data;
worker_processes auto;
pid /run/nginx.pid;

events { }

http {
	server {
		listen {{ nginx_port }} default_server;
		root /var/www/html;
		index index.html;
		server_name worktest-site.com;
	}
}